/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }
#menu{
    background: white;
	z-index: 100;
    position: fixed;
    left: 0;
    width: 100%;
}
body{
    position: relative;
    top: 100px;
    left: 20px;
    background: url('img/background.jpg') no-repeat;
    background-position-y: 70px;
    background-size: cover;
    background-attachment: fixed;
}
p {
    color: orange;
    font-family: arial;
    text-align: center;
}
ul {
    color: green;
    font-family: arial;
    line-height: 120%;
    list-style-type: none;
}
h1 {
    letter-spacing: +2px;
    text-align: center;
    font-size: 18;
    background: teal;
    line-height: 30px;
    color: white;
    font-weight: bold;
}
h2 {
    color: teal;
    font-variant:  small-caps; 
    font-size: 20px;
}
h3 {
    color: grey; 
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
}
#blog {
    padding: 5px;
    border: 3px solid teal;
    background: grey;
    font-family:'bangers';
    color: orange;
    text-align: center;
    float: right;
    margin: 5px;
}
.first {
    padding: 10px;
    width: 120px;
    float: left;
    margin-right: 30px;
  	border: 2px dotted teal;
    background: white;
    text-align: left;
}
#college-years {
    color: navy;
}
#post-college {
 	background: white;
    padding: 10px;
    width: 120px;
    border: 2px dotted teal;
    float: left;
    margin-right: 30px;
}
.post-college {
	color: purple;
}
#most-recent{
    float: left;
    border: 2px dotted teal;
    background: white; 
    padding: 10px;
    width: 150px;
    margin-right: 100px;
    margin-bottom: 250px;
}
.most-recent {
    color: maroon;
}
#modal-popup {
    overflow: auto;
    background: teal;
	z-index: 99;
    position: fixed;
    right: 5px;
    top: 100px;
}
.menu {
    font-weight: bold;
}

.menu li {
    display: inline-block;
    background: grey;
    padding: 10px;
    color: white;
}
.clear {
    position: relative;
    top: 500px;
}

.bio-bloc {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px 0px;
    float: right;
    padding: 15px;
    width: 250px;
    position: relative;
    top: -75px;
    overflow: auto;
}

#resume {
    backgroud: url("img/Skillcrush_Computer.jpg");
}

#name {
    font-size: 36px;
    font-type: courier;
    font-weight: bold;
}

.resume {
    background: url("img/Skillcrush_Computer.jpg") repeat fixed center center / cover rgba(0, 0, 0, 0);
}

#title {
    background: rgb(213,209,199);
    border-radius: 0px 0px 0px 3px;
    color: white;
    font-family: serif;
    padding: 5px;
    margin-top: 12px;
    font-size: 14px;
}

p.bio {
    text-align: left;
    color: black;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-style: serif;
}



ul#social {
    margin: 0px;
    padding: 0px;
}

#instagram {
    background: url("img/social.png") no-repeat 0 0;
}
#instagram a:hover{
    background: url("img/social.png") 0px -32px;
}
#instagram a:hover{
    background: url("img/social.png") 0px -32px;
}

#social li, #social a {
    width: 30px;
    height: 30px;
    display: inline-block;
}

#twitter {
    background: url("img/social.png") -34px 0px;
}
#tiwtter a:hover{
    background: url("img/social.png") -34, -32px;
}

#dribbble {
     background: url("img/social.png") -66px 0px;
}
#dribbble a:hover{
     background: url("img/social.png") -66px -32px;
}
